<header>
    <div class="right_box">
        <div class="dp">
            <img src="https://avatars.githubusercontent.com/u/37933420?s=400&u=5630087eb982a70514a7963196713bcbd81d365c&v=4" alt="profile image">
        </div>
        <a href="https://github.com/{{github_user_name}}" class="font-sm-l">https://github.com/{{github_user_name}}</a>
    </div>
    <div class="user_info">
        <span class="name m-5">
            {{name}}
        </span>
        <span class="bio m-5 font-sm-l">
            {{bio}}
        </span>
        <span class="location m-5 font-sm-l">
            {{location}}
        </span>
        <span *ngIf="twitter !== ''" class="twitter m-5 font-sm-l">
            Twitter: https://twitter.com/{{twitter}}
        </span>
    </div>
</header>
