<header class="d-flex flex-md-row flex-column mb-4">
    <div class="right_box d-flex flex-column justify-content-between align-items-center">
        <div class="dp">
            <img src={{dp}} alt="profile image">
        </div>
        <a target="_blank" href={{profile_link}} class="font-sm-l">{{profile_link}}</a>
    </div>
    <div class="user_info">
        <span class="name m-1">
            {{name}}
        </span>
        <span class="bio m-1 font-sm-l">
            {{bio}}
        </span>
        <span class="location m-1 font-sm-l">
            {{location}}
        </span>
        <span *ngIf="twitter !== null && twitter !==''" class="twitter m-1 font-sm-l">
            Twitter: <a target="_blank" href = "https://twitter.com/{{twitter}}">https://twitter.com/{{twitter}}</a>
        </span>
    </div>
</header>
