<div class="container p-4 mt-5">

  <form class="mb-3" (ngSubmit) = "search()">
    <div class="d-flex flex-row justify-content-center">
      <input type="text" name="username" [(ngModel)]="username"id="username" class="form-control" placeholder="Username">
      <input type="submit" value="Search" class="btn btn-dark">
    </div>
  </form>

  <app-header 
    *ngIf="!initialScreen && user_present"
    name={{userDetails.name}} 
    location={{userDetails.location}} 
    bio={{userDetails.bio}}
    dp = {{userDetails.avatar_url}}
    github_user_name={{username}}
    twitter = {{userDetails.twitter_username}}
    >
  </app-header>
  <div *ngIf="!initialScreen && user_present" class="repo-box row">
    <app-repo-info *ngFor="let repo of userDetails.repos" class="col-md-6 col-12 my-2" repoName={{repo.name}} repoDes={{repo.description}} [topics]="repo.topics"></app-repo-info>
  </div>
  <div class="text-center">
    <p *ngIf="!initialScreen && !user_present" class="text-center fs-3 badge bg-primary text-wrap">No Such User Present</p>
  </div>
  <div class="text-center fs-3">
    <span *ngIf="loading" class="loading">Loading....</span>
  </div>
</div>