@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;700&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    margin: 0;
}
.container{
    background-color: rgb(213, 227, 231);
    border-radius: 12px;
    border: 1px solid blue;
    
}
.name{
    font-size: 1.5rem;
    font-weight: bolder;
}
.m-5{
    margin: 5px;
}

.font-sm-l{
    font-size: 0.9rem;
    font-weight: lighter;
}